@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6C7293;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animate__animated {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.sidebar-open {
    margin-left: 288px;
    transition: margin-left 1s;
    transform: translate3d(0, 0, 0);
}

.sidebar-close {
    margin-left: 0px;
    transition: margin-left 1s;
    transform: translate3d(0, 0, 0);
}

.form-title {
    letter-spacing: 0.02em;
    font-weight: 900;
}

.checkbox-label {
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 12px;
}